<!DOCTYPE html>
<html>
    <head>
        <title>Update Everything in MongoDB</title>
    </head>
    <body>
        <h1>Click the button below to update everything in the user collection</h1>
        <a href = "/login">Click me to update</a>

        <a href = "/test">Click me to make a test request</a>
    </body>
</html>